{:app/id "org.kotoba-lang.torrent"
 :app/name "Kotoba Torrent"
 :app/version "0.1.0"
 :macos/bundle-id "org.kotoba-lang.torrent"
 :runtime {:kind :kotoba-wasm
           :surface :kotoba/dom
           :namespace kotoba.torrent-app
           :start start
           :window {:width 720 :height 460 :min-width 620 :min-height 380}}
 :documents [{:uti "org.bittorrent.torrent"
              :extensions ["torrent"]
              :mime-types ["application/x-bittorrent"]
              :role :viewer}]
 :capabilities [:component/http :net/connect :net/transport :fs/app-data]}
