{:paths ["src"]
 :deps {
        ;; kotoba.http.form-urlencoded replaced java.net.URLEncoder/URLDecoder here
        ;; (2026-09-24). An explicit floor: tools.deps takes the NEWEST sha it is shown.
        io.github.kotoba-lang/http-parse-url {:git/sha "8ad2f9680111e50168b4078a64601dc9296158d7"}
        ;; kotoba.test (clojure.test-compatible surface), not clojure.test --
        ;; scripts/migrate-clojure-test-to-kotoba-test.cljk. Explicit floor.
        io.github.kotoba-lang/test {:git/url "https://github.com/kotoba-lang/test.git"
                                    :git/sha "2ab4885f99fd25552d380d0f6b0b54c5a72eb7ae"}org.clojure/clojure {:mvn/version "1.12.4"}
        io.github.kotoba-lang/json {:git/sha "b47b06486b3ad53051bc7d8bf361f4176f467202"}}
 :aliases {:test {:extra-paths ["test"]
                  :main-opts ["-m" "kotoba.torrent-app-test"]}}}
