{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        io.github.kotoba-lang/json {:git/sha "b47b06486b3ad53051bc7d8bf361f4176f467202"}}
 :aliases {:test {:extra-paths ["test"]
                  :main-opts ["-m" "kotoba.torrent-app-test"]}}}
